<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Human Development Index</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="home">

    <br><br>

    <h1>Human Development Index</h1>

    <br><br>

    <p>

        Human Development Index (HDI) is a statistical measure used to evaluate
        a country's overall achievement in human development. It combines
        Life Expectancy, Mean Years of Schooling and Gross National Income
        per Capita to classify countries into Very High, High, Medium
        and Low Human Development categories.

    </p>

    <br><br>

    <a href="/Prediction">Predict</a>

</div>

</body>

</html>