<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Human Development Index Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Human Development Index</h1>

    <form action="/predict" method="POST">

        <input
        type="number"
        step="0.01"
        name="Life expectancy"
        placeholder="Enter Life Expectancy"
        required>

        <br>

        <input
        type="number"
        step="0.01"
        name="Mean years of schooling"
        placeholder="Enter Mean Years of Schooling"
        required>

        <br>

        <input
        type="number"
        step="0.01"
        name="Gross national income (GNI) per capita"
        placeholder="Enter Gross National Income (GNI) Per Capita"
        required>

        <br>

        <input
        type="number"
        step="0.01"
        name="Internet users"
        placeholder="Enter Internet Users (%)"
        required>

        <br><br>

        <button type="submit">
            Predict
        </button>

    </form>

    <br>

    <a href="/Home" style="
        color:white;
        text-decoration:none;
        background:#2979ff;
        padding:12px 25px;
        border-radius:10px;
    ">
        Home
    </a>

</div>

</body>

</html>